@model AutoNuoma.Models.Request

@{
	ViewBag.Title = "Report";
}

<h2>Ataskaitos langas</h2>

<iframe src="../../Ataskaita/Ataskaita.pdf"
		style="width:718px; height:700px;" frameborder="0"></iframe>
