@{
    ViewBag.Title = "Unauthorized";
}
<h2>Neautorizuotas prisijungimas</h2>
<p>Jus neturite prieigos prie sio puslapio.</p>
<div>
	@Html.ActionLink("Grizti i pagrindini puslapi", "Index", "Home")
</div>
