@model AutoNuoma.Models.Member

@{
    ViewBag.Title = "Account";
}

<h2>Paskyros langas</h2>

<div>
	@Html.ActionLink("Paskyros redagavimas", "AccountEdit")
</div>
<div>
	@Html.ActionLink("Ištrinti paskyrą", "AccountDelete")
</div>